# -*- mode: nginx; mode: flyspell-prog;  ispell-local-dictionary: "american" -*-
#{{ ansible_managed }}
### Configuration of nginx stub status page. Here we define the
### allowed hosts using the Geo Module. http://wiki.nginx.org/HttpGeoModule

geo $dont_show_nginx_status {
    default 1;
    {% for host in nginx_drupal_nginx_status_allowed_hosts %}
    {{host}} 0;
    {%- endfor %}
}
